.vs/
[Ll]ibrary/
[Tt]emp/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/s
[Uu]ser[Ss]ettings/
.vsconfig
Assembly-CSharp.csproj
06. Standard Assets
07. ETC
PlayFabEditorExtensions/
PlayFabSDK/
ExternalDependencyManager/
GooglePlayGames/
IngameDebugConsole/
AeDeong.keystore